<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <div id = "tabl1"> 
      <table>
        <tr>
          <td>Macdonald</td>
        </tr>
        <tr>
          <td>Kfc</td>
        </tr>
        <tr>
          <td>Presto</td>
        </tr>
        <tr>
          <td>Subway</td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
